<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mr. Brønshøj</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-white text-gray-900">
    <header class="bg-green-800 text-white py-4">
        <div class="container mx-auto flex justify-between items-center">
            <div class="ml-4 text-2xl font-bold">
                Mr. Brønshøj
            </div>
            <nav>
                <ul class="flex space-x-4">
                    <li><a href="#" class="hover:bg-green-600 p-2 rounded">Bets</a></li>
                    <li><a href="{{ url_for('create_bet') }}" class="hover:bg-green-600 p-2 rounded">Create bet</a></li>
                    <li><a class="hover:bg-green-600 p-2 rounded" onclick="window.location.href='{{ url_for('logout') }}'">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="py-8">
        <div class="container mx-auto text-center min-h-screen">
            <h2 class="text-3xl font-bold mb-6">Current Football Games, logged in as {{ username }}</h2>
            <h2 class="text-3xl font-bold mb-6">Usertype: {{ usertype }} </h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
                {% for game in games %}
                <div class="border rounded-lg shadow-lg p-8">
                    <h3 class="text-xl font-bold mb-4">La Liga - {{ game.team1 }} vs. {{ game.team2 }}</h3>
                    <p class="mb-6">Bet on the most anticipated match of the Premier League.</p>
                    <form action="{{ url_for('admin_page', gameid=game.id, ) }}" method="POST">
                        <input type="hidden" name="game_id" value="{{ game.id }}">
                        <div class="flex justify-between">
                            <label for="team1_bet">
                                <input type="radio" id="team1_bet" name="bet_selection" value="t1wins"> 1 : {{ game.t1wins }}
                            </label>
                            <label for="draw_bet">
                                <input type="radio" id="draw_bet" name="bet_selection" value="draw"> X : {{ game.draw }}
                            </label>
                            <label for="team2_bet">
                                <input type="radio" id="team2_bet" name="bet_selection" value="t2wins"> 2 : {{ game.t2wins }}
                            </label>
                        </div>
                        <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 mt-4 rounded">Confirm actual result</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <footer class="bg-green-800 text-white py-4 fixed bottom-0 w-full">
        <div class="container mx-auto text-center">
            <p>&copy; 2024 Mr. Brønshøj. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
