<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mr. Brønshøj</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-white text-gray-900">
    <header class="bg-green-800 text-white py-4">
        <div class="container mx-auto flex justify-between items-center">
            <div class="ml-4 text-2xl font-bold">
                Mr. Brønshøj
            </div>
            <nav>
                <ul class="flex space-x-4">
                    <li><a href="{{ url_for ('index') }}" class="hover:bg-green-600 p-2 rounded">Home</a></li>
                    <li><a href="{{ url_for ('game') }}" class="hover:bg-green-600 p-2 rounded">Games</a></li>
                    <li><a href="{{ url_for ('aboutus') }}" class="hover:bg-green-600 p-2 rounded">About Us</a></li>
                    <li><a href="{{ url_for ('contact') }}" class="hover:bg-green-600 p-2 rounded">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="py-8">
        <div class="container mx-auto text-center h-screen">
            <h2 class="text-3xl font-bold mb-4">Welcome to Mr. Brønshøj</h2>
            <p class="mb-6">The best place to use your money! You could get rich quick!</p>
            <img src=" {{ url_for ('static', filename='img/avggam.png') }}" alt="Gambling Image" class="mx-auto mb-6 w-1/2">
            
            <div class="cta">
                <a href="{{ url_for ('login') }}" class="inline-block bg-green-600 text-white py-2 px-4 rounded hover:bg-green-700 transition duration-300">Start Playing</a>
            </div>
        </div>
    </main>
    <footer class="bg-green-800 text-white py-4 fixed bottom-0 w-full">
        <div class="container mx-auto text-center">
            <p>&copy; 2024 Mr. Brønshøj. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
